extends ../layout
block content
    .container
      h1 Substitute Item
      span
        b Previous Item: 
        | #{previousitem.name} - #{previousitem.quantity}
      form(action="/menus/sub/" method="POST")
        label(for="item") Item:
        select#item.form-control(name="item")
          each item in items
            if item.quantity > 0
              option(value={id: item.id, name: item.name})= item.name
          // Add more options as needed
        br
        label(for="quantity") Quantity:
        input#quantity.form-control(type="number", name="quantity" min="1" value="1")
        input(type="hidden", name="PreviousID", value=previousitem.itemId)
        input(type="hidden", name="MDate", value=previousitem.currentDate)
        input(type="hidden", name="MType", value=previousitem.mealType)
        br
        button.btn.btn-primary(type="submit") Submit